@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf') format('otf');
  font-style: normal;
}

body {
  color: white;
  font-family: "Satoshi", sans-serif;
  background-color: #11071f;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header{
  background: linear-gradient(#560f854a, transparent 50%);
}

.menu-item {
  background: none;
  width: 170px;
  height: fit-content;
  margin: 40px 24px;
  font-family: 'Courier New', Courier, monospace;
  /* border-bottom:  5px solid #11071f85; */

}

/* .menu-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 120px;
  background-image: radial-gradient(
    #11071f85 10%,
    transparent 80%
  );
  text-decoration:  underline solid red 1px;
  opacity: 0;
  transition: opacity 1s;
}

.menu-item:hover::before {
  opacity: 1;
  text-decoration:  underline solid red 1px;

} */

.menu-item:hover{
  color: #a28eb5;
}

.back{
  background-image: radial-gradient(circle at top, #763cac95 5%, #4b1a7974 20%, transparent 50%);
}

.name{
  text-align: center;
    margin: 24px 0px;
    text-wrap: balance;
    background: linear-gradient(to right bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.38) 90%) text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    color: unset;
    padding-bottom: 0.13em;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 900;
}